.env
venv
experiments/
config/secrets/
vertex_service_account.json
config/youtube_client_secrets.json
config/youtube_token.json
config/google_cloud_service_account.json
config/gdrive_client_secrets.json
config/gdrive_service_account.json
config/gdrive_secrets.json
config/gdrive_token.json
config/logo.png
__pycache__/
*.pyc
*.pyo
.pytest_cache/
*TEMP_MPY_wvf_snd*
temp/
database/
logs/
