.env
venv
config/secrets/
config/youtube_client_secrets.json
config/youtube_token.json
config/google_cloud_service_account.json
config/gdrive_client_secrets.json
config/gdrive_service_account.json
config/gdrive_secrets.json
config/gdrive_token.json
config/logo.png
__pycache__/
*.pyc
*.pyo
.pytest_cache/
storage/Voiceovers/*
storage/Videos/Raw/*
storage/Videos/Final/*
storage/Videos/Cache/*
storage/Thumbnails/*
!storage/Voiceovers/.gitkeep
!storage/Videos/Raw/.gitkeep
!storage/Videos/Final/.gitkeep
!storage/Thumbnails/.gitkeep
*.db
*.sqlite
logs/
